/*Global*/
body {
 font-family: 'Nunito Sans', sans-serif;
}

/*Header*/
.nav-link.active {
  font-weight:bold;
  text-decoration:underline;
}

.nav-link:hover {
  text-decoration:underline;
}

/*Hero*/
.hero h1, 
.hero h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*Cards*/
.card:hover {
  transform: all 0.3s ease;
}

.card-hover:hover {
  background-color:#efefef;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/*Button*/
button,
.btn {
  transition: background-color 0.3s ease, 
}

button:hover,
.btn:hover {
  filter: brightness(85%);
}

/*Footer*/
  .icon-footer {
    width:35px;
    transition:filter 0.3s ease;  
  }

  .icon-footer:hover {
    filter: brightness(200%);
  }

  footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  footer a:hover {
   font-weight: bold;
   text-decoration: underline;
  }